---
title: Erreur 404
layout: none
---


<!-- src : Adam Lewiński !-->
<style type="text/css" media="screen">
body {
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #fff;
  color: #333
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes cursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@keyframes typing {
  from {
    width: 100%;
  }
  90%, to {
    width: 0;
  }
}
@keyframes slide {
  33.33333% {
    font-size: 3rem;
    letter-spacing: 3px;
  }
  to {
    font-size: 0;
    letter-spacing: 0;
  }
}

h1{
  font-size: 18em;
  margin: 15px 0 0 0;

  justify-content: center;
  align-items: center;
  display: flex;
}
.btn-more{
  cursor: pointer;
  display:block;
  margin:2em;
  text-align:center;
  font-size: 25px;
  line-height:1;
  position:relative;
  font-weight:700;
  width:auto;}

.btn-more::after{
  content:"→";
  opacity:0;
  top:50%;
  -webkit-transform:translate(0, -50%);
  transform:translate(0, -50%);
  -webkit-transition:all .15s;
  transition:all .15s}

.btn-more:hover::after{
  -webkit-transform:translate(5px, -50%);
  transform:translate(5px, -50%);opacity:1}

.typing {
  font-family: Consolas, monospace;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.typing p {
  position: relative;
  display: inline;
  font-size: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  animation: slide 7.5s step-start infinite;
}
.typing p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 3px solid black;
  background-color: #fff;
  animation: typing 2.5s infinite, cursor 0.5s infinite;
}
.typing p:nth-child(1) {
  animation-delay: 0s;
}
.typing p:nth-child(1)::after {
  animation-delay: 0s;
  animation-timing-function: steps(16), step-end;
}
.typing p:nth-child(2) {
  animation-delay: 2.5s;
}
.typing p:nth-child(2)::after {
  animation-delay: 2.5s;
  animation-timing-function: steps(23), step-end;
}
.typing p:nth-child(3) {
  animation-delay: 5s;
}
.typing p:nth-child(3)::after {
  animation-delay: 5s;
  animation-timing-function: steps(12), step-end;
}

</style>
<body>
  <h1>404</h1>
  <div class="typing">
      <p>Oops</p>
      <p>La poisse</p>
      <p>Erreur</p>
  </div>
  <a class="btn-more"  onclick="history.back(-1)" >Retour vers le passé</a>
</body>
