---
layout: default
title: Réunion
menu: Haut
---
<div class="timeline">
{% assign crs = site.crs | sort: 'date' | reverse %}
{% for cr in crs %}
  <div class="timeline-item">
    <a href="{{ cr.url | relative_url }}" ><div class="timeline-date">{% include date.html date=cr.date %}<strong>20{{ cr.date | date: '%y' }}</strong></div></a>
    <div class="timeline-content">
      <h3 class="timeline-content-title">
        {{ cr.title }}
        du
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% include date.html date=cr.date %}
        </time>
      </h3>
      <p class="timeline-content-author">
        {{ cr.author }}
      </p>
      <p class="timeline-content-description">
        {{ cr.content | markdownify | strip_html | truncatewords:35 }}
      </p>
      <a href="{{ cr.url | relative_url }}" class="btn-more">Lire plus</a>
    </div>
  </div>
{% endfor %}
  <div class="timeline-item">
      <div class="timeline-date begin"><strong>Création</strong></div>
  </div>
</div>
