---
layout: default
title: Tutos
menu: Haut
---
{% assign tutos = site.tutos | sort: 'date' | reverse %}
{% for tuto in tutos %}
{% unless tuto.tags contains 'archive' %}
<div class="col s2 m4 tutos-card card">
  <div class="wrap">
    <img src="{{ site.baseurl }}{{ tuto.id }}.jpg" onError="style.display = 'none';"> </img>
    <div class="header">
      <ul class="menu-content">
        <li><a href="{{ tuto.url | relative_url }}">{% include date.html date=tuto.date %}<span>20{{ tuto.date | date: '%y' }}</span></a></li>
      </ul>
    </div>
    <div class="data">
      <div class="content">
        <span class="author">{{ tuto.author }}</span>
        <h1 class="title"><a href="{{ tuto.url | relative_url }}">{{ tuto.title }}</a></h1>
        <p class="text">{{ tuto | markdownify | strip_html | truncatewords: 10 }}</p>
        <a href="{{ tuto.url | relative_url }}" class="button">Lire plus</a>
      </div>
    </div>
  </div>
</div>
{% endunless %}
{% endfor %}
