<link rel="stylesheet" href="{{ 'assets/main.css' | relative_url  }}" />


{% case page.title %}
  {% when "Accueil" %}
<link rel="stylesheet" href="{{ 'assets/home.css' | relative_url  }}" />
  {% when "Réunion" %}
<link rel="stylesheet" href="{{ 'assets/timeline.css' | relative_url  }}" />
  {% when "Bureaux" %}
<link rel="stylesheet" href="{{ 'assets/timeline.css' | relative_url  }}" />
  {% when "Tutos" %}
<link rel="stylesheet" href="{{ 'assets/tutos.css' | relative_url  }}" />
{% endcase %}
