<!-- Header -->
<header class="masthead center">
  <div class="container">
    {% include icons/logo.svg %}

    <menu>
    {% for Page in site.pages %}
    {% if Page.menu == "Haut" %}
      <li class="list-inline-item  {% if page.title == Page.title  %}menu-active{% endif %}"><a href="{{ Page.url | absolute_url }}">{{ Page.title | escape }}</a></li>
    {% endif %}
    {% endfor %}
    </menu>

    <social>
    {% for social in site.data.social %}
    {% if social.menu == 1 %}
      <li class="list-inline-item">
        <a class="btn center" href="{{ social.link }}" title="{{ social.nom }}">
          <i class="fa fa-fw icon-{{ social.icon }}"></i>
        </a>
      </li>
    {% endif %}
    {% endfor %}
    </social>
  </div>
</header>
<!-- Header -->
