---
---

.card
  position: relative
  margin: 0.5rem 0 1rem 0
  background-color: #fff
  -webkit-transition: -webkit-box-shadow .25s
  transition: -webkit-box-shadow .25s
  transition: box-shadow .25s
  transition: box-shadow .25s, -webkit-box-shadow .25s
  border: none
  .card-title
    font-size: 24px
    font-weight: 300
  .card-content
    padding: 0 24px 24px 24px 
    p
      margin: 0
      color: inherit

.col + .col
  border-left: 2px solid var(--text-main)
