---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$baseurl: "{{ site.baseurl }}";
$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

/* les trucs cool pour le site*/
@import 'var';
@import 'base';
@import 'ico';
/* Import du css Header */
@import 'header';
@import 'code';
/* Import du css Footer */
@import 'footer';



@-ms-viewport
  width: device-width

/* les trucs cool pour le site*/
@import 'var';

*{
  box-sizing: border-box;
  &::before, &::after{
      box-sizing: border-box
  }
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section, body, header, div, svg, img, .container{
  display: block
}

@media  (max-width: var(--breakpoint-md)){
  [class*="col-"]{
      width: 100%
  }
}

@media  (max-width: var(--breakpoint-sm)){
  header{
    width: 100
  }
}

html {
    background: black;
}

.post-logo {
    float: left;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.post-title, .post-meta {
    text-align: center;
}

@font-face {
    font-family: 'geosanslightregular';
    src: url('geosanslight-webfont.woff2') format('woff2'),
         url('geosanslight-webfont.woff') format('woff');
    font-weight: normal;
}

.site-title, h1, h2, h3, h4, h5, h6 {
    font-family: 'geosanslightregular';
}

.post-content {
    h1 {
       text-decoration: underline;
       font-size: 32px;
    }

    h2 {
       font-size: 28px;
    }

    h3 {
       font-size: 24px;
    }

    h4 {
       font-size: 20px;
    }
}

.main-image {
    max-width: 300px;
    border-radius: 5px;
    margin: auto;
    display: block;
}

.footer-col-1 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.page-nav {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
  span {
      display: block;
      width: 50%;
      float: left;
      margin: 1em 0;
  }

  span:last-child {
      text-align: right;
  }
}

.site-header, .site-footer {
    background: black;
    color: white;

    a:hover {
        color: $grey-color-light;
    }
}

.site-nav {
  background: black;
  .page-link {
    color: $grey-color-light;
  }

  @include media-query($on-palm) {
    border: 1px solid $grey-color-dark;

    .menu-icon {
      > svg path {
        fill: $grey-color-light;
      }
    }
  }
}

.site-title, .site-title:visited {
    color: white;
}

a .icon > svg {
  height: 16px;
  width: 16px;
  path {
    fill: $brand-color;
  }
}

a:hover .icon > svg path {
    fill: $grey-color-light;
}

kbd {
    padding: 2px;
    border: darken($grey-color-light, 20%) 1px solid;
    background: $grey-color-light;
    border-radius: 3px;
}
