<!-- Par Johnny Gouvaert, à partir du travail de Benoit Verhaeghe !-->
<html lang="fr-FR" style="height: 100%;">
<head>
  <title>CI - {{ page.title }}</title>
  <meta charset="UTF-8">
  {% if site.description %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}
  {% if site.keywords %}
  <meta name="keywords" content="{{ site.keywords }}">
  {% endif %}
  {% if site.author %}
  <meta name="author" content="{{ site.author }}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}">

  {% include css.html %}

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
{% include header.html %}
    <section class="bg-primary" id="page">
      <div class="row center">
        {% unless page.title == "Accueil" %}
        <h1>{{ page.title }}</h1>
        {% endunless %}
        <p>{{ site.data.informations[page.title].intro }}</p>
        <div class="wrapper">
        {{content}}
        </div>
      </div>
  </section>
{% include footer.html %}
    <a href="#">
      <div class="scroll-to-top">
        <i class="icon-long-arrow-up"></i>
      </div>
    </a>
</body>
</html>
